/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: url("/ICONS/green-house image.jpg");
    background-size: cover;
    background-position: top;
    height: 500px;
    background-repeat: no-repeat;
    /* position: relative;
    display: flex; */
    justify-content: center;
    align-items: center;
    font-family: poppins, sans-serif;
}

/* body {
    background-image: url(green-house\ image.jpg)
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 20px;
} */

/* .site {
    background: white;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
} */

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: #d9e2e7;
    border-bottom: 4px solid #d9e2e7;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 18px;
}

.brand img {
    width: 40px;
}

.main-nav {
    display: flex;
    gap: 70px;
}

.main-nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}

.main-nav a:hover {
    color: #2f8f4d;
    transform: translateY(-2px);
}

.login-btn {
    background: #2f8f4d;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.login-btn:hover {
    background: #67aa7c;
}

/* HERO SECTION */
.hero {
    color: white;
    margin-top: 7%;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.badge {
    position: absolute;
    top: 20px;
    background: #3b7df6;
    padding: 7px 14px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}

/* .hero-content {
    color: white;
    position: relative;
    text-align: center;
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-content p {
    margin-bottom: 20px;
    font-size: 16px;
} */

.cta {
    background: #2f8f4d;
    padding: 12px 30px;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s ease;
}

.cta:hover {
    background: #3cb565;
    transform: translateY(-3px);
}

/* SERVICES */
.services h3 {
    font-family: poppins, sans-serif;
    /* padding: 20px 10px; */
    text-align: left;
    color: white;
    line-height: 0;
    padding: 20px;
}

.cards {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    line-height: 2.5rem;
    padding: 20px;
}

.card {
    background: #1f1f1f;
    /* padding: 20px; */
    border-radius: 12px;
    margin: 0;
    color: white;
    justify-content: center;
    place-items: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    width: 372px;
    height: 234px;
}

.h1 {
    font-size: 28px;
    font-family: poppins, sans-serif;
}

p {
    font-size: 20px;
    /* font-family: Poppins, sans-serif; */
}

.card:hover {
    transform: translateY(-8px);
    background: #2a2a2a;
}

.icon {
    font-size: 30px;
    margin-bottom: 12px;
}

.footer {
    padding: 100px;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-content h1 {
        font-size: 34px;
    }
}

@media (max-width: 600px) {
    .main-nav {
        display: none;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .hero {
        height: 420px;
    }

    .hero-content h1 {
        font-size: 28px;
    }
}