* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #c6c4c4;
}

.container {
    padding: 30px;
    width: 100%;
}

.hero-nav {
    width: 100%;
    margin-bottom: 2%;
}

.nav-link {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.nav-link div {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.nav-link li a {
    text-decoration: none;
    color: black;
    font-family: 'poppins', 'sans-serif';
}

.arrow-icon img {
    font-size: 50px;
}


/* search bar and logo */

.search {
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px;
    border-radius: 3px;
    width: 50%;
    height: 54px;
    color: #FFFFFF;
    background-color: #fff;
    margin: 0 auto;
}

.search-container:hover {
    background-color: #F5F5F5;
}

.search-container input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
}

.search-container img {
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px;
    color: #000000;
}

input::placeholder {
    color: #000000;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    line-height: 100%;
    letter-spacing: 0%;

}

.search-btn {
    background: #3B7A3A;
    color: #fff;
    border: 2px;
    padding: 10px 55px;
    height: 54px;
    border-radius: 5px;
    margin-left: 3px;
}


.search-btn:hover {
    background-color: #2e5d2e;
    transition: 0.3s;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.product-card {
    background: #fafafa;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-link {
    text-decoration: none;
    color: blue;
}

.product-link a {
    color: #666;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}

.product-card h3 {
    margin: 10px 0 5px;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}

.qty-text {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.qty-box button {
    width: 25px;
    height: 25px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 3px;
}

.pagination {
    margin-top: 25px;
    text-align: center;
}

.pagination button {
    padding: 7px 15px;
    border: none;
    background: #1da86a;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    .search-box input {
        width: 150px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    /* padding: 20px; */
    background: #c6c4c4;
}

.container {
    width: 100%;
}

.hero-nav {
    width: 100%;
    margin-bottom: 2%;
}

.nav-link {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: auto;
}

.nav-link div {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.nav-link li a {
    text-decoration: none;
    color: black;
    font-family: 'poppins', 'sans-serif';
}

.arrow-icon img {
    width: auto;
}


/* search bar and logo */

.search {
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px;
    border-radius: 3px;
    width: 50%;
    height: auto;
    color: #FFFFFF;
    background-color: #fff;
    margin: 0 auto;
}

.search-container:hover {
    background-color: #F5F5F5;
}

.search-container input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
}

.search-container img {
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
    color: #000000;
}

input::placeholder {
    color: #000000;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    line-height: 100%;
    letter-spacing: 0%;

}

.search-btn {
    background: #3B7A3A;
    color: #fff;
    border: 2px;
    padding: 10px 55px;
    height: 54px;
    border-radius: 5px;
}


.search-btn:hover {
    background-color: #2e5d2e;
    transition: 0.3s;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.product-card {
    /* background: #fafafa; */
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}

.product-card h3 {
    margin: 10px 0 5px;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}

.qty-text {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.qty-box button {
    width: 25px;
    height: 25px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 3px;
}

.pagination {
    margin-top: 25px;
    text-align: center;
}

.pagination button {
    padding: 7px 15px;
    border: none;
    background: #1da86a;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

/* Responsive Adjustments */
@media (max-width: 500px) {
    .search-box input {
        width: 150px;
    }
}