* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(179, 177, 177);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

a {
    color: #000;
    cursor: pointer;
    transition: 0.6s ease;
    font-size: 1.2rem;
    font-weight: bold;
}

a:hover {
    color: hsl(240, 100%, 70%);
}

.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: rgb(22, 22, 22);
    text-decoration: underline solid 2px;
    font-weight: bold;
    color: hsl(240, 100%, 70%);
}

.nav-item span {
    margin-left: 10px;
    font-weight: bold;
}

#Search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#Search h1 {
    font-size: 1.7rem;
    margin-right: 30px;
}

#Search input {
    width: 30%;
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border: none;
    text-align: center;
}

#Search span {
    position: relative;
    right: 29%;
    cursor: pointer;
}

#Search button {
    width: 120px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: green;
    cursor: pointer;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    height: 21em;
    width: 100%;
    border-radius: 10px;
}

.cart1 {
    margin-left: 0px;
}

.cart-img img {
    width: 15em;
    height: 15em;
    margin-right: 20px;
    border-radius: 20px;
}

#cart h2 {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

#cart p {
    font-weight: 600;
    font-size: 1.2rem;
}

#cart button {
    width: 140px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: green;
    cursor: pointer;
    color: white;
}

#wrapper h3 {
    margin: 20px;
    font-size: 1.5rem;
}

#cart2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ddd;
    padding: 20px;
    height: 150px;
    width: 100%;
    border-radius: 10px;
}

#cart2 h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

#cart2 p {
    font-size: 1.2rem;
    font-weight: bold;
}

#cart2 button {
    width: 140px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: green;
    cursor: pointer;
    color: white;
    position: relative;
    top: 50px;
}

.delivery {
    position: relative;
    bottom: 40px;
    background-color: #ddd;
    height: 35em;
    width: 60%;
    border-radius: 10px;
    padding: 20px;
    margin-left: 150px;
    margin-top: 70px;
}

.delivery #location {
    width: 370px;
    padding: 10px;
}

.delivery h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.delivery p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.delivery button {
    width: 120px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: green;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .cart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ddd;
        padding: 20px;
        height: 21em;
        width: 100%;
        border-radius: 10px;
    }

    .cart1 {
        margin-left: 0px;
    }

    .cart-img img {
        width: 15em;
        height: 15em;
        margin-right: 20px;
        border-radius: 20px;
    }

    #cart h2 {
        font-weight: bold;
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    #cart p {
        font-weight: 600;
        font-size: 1.2rem;
    }

    #cart button {
        width: 140px;
        padding: 10px;
        margin-top: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        background-color: green;
        cursor: pointer;
        color: white;
    }

    #wrapper h3 {
        margin: 20px;
        font-size: 1.5rem;
    }

    #cart2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #ddd;
        padding: 20px;
        height: 150px;
        width: 100%;
        border-radius: 10px;
    }

    #cart2 h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 30px;
    }

    #cart2 p {
        font-size: 1.2rem;
        font-weight: bold;
    }

    #cart2 button {
        width: 140px;
        padding: 10px;
        margin-top: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        background-color: green;
        cursor: pointer;
        color: white;
        position: relative;
        top: 50px;
    }

    .delivery {
        position: relative;
        bottom: 40px;
        background-color: #ddd;
        height: 42em;
        width: 70%;
        border-radius: 10px;
        padding: 20px;
        /* margin-left: 150px;/ */
        margin-top: 70px;
    }

    .delivery #location {
        width: 370px;
        padding: 10px;
    }

    .delivery h3 {
        font-size: 1.5rem;
        margin-bottom: 30px;
        text-align: center;
    }

    .delivery p {
        font-size: 1.1rem;
        margin-bottom: 30px;
    }

    .delivery button {
        width: 120px;
        padding: 10px;
        border-radius: 3px;
        outline: none;
        border: none;
        background-color: green;
        cursor: pointer;
        color: white;
    }
}

@media (max-width: 640px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .cart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ddd;
        padding: 20px;
        height: 21em;
        width: 100%;
        border-radius: 10px;
    }

    .cart1 {
        margin-left: 0px;
    }

    .cart-img img {
        width: 15em;
        height: 15em;
        margin-right: 20px;
        border-radius: 20px;
    }

    #cart h2 {
        font-weight: bold;
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    #cart p {
        font-weight: 600;
        font-size: 1.2rem;
    }

    #cart button {
        width: 140px;
        padding: 10px;
        margin-top: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        background-color: green;
        cursor: pointer;
        color: white;
    }

    #wrapper h3 {
        margin: 20px;
        font-size: 1.5rem;
    }

    #cart2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #ddd;
        padding: 20px;
        height: 150px;
        width: 100%;
        border-radius: 10px;
    }

    #cart2 h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 30px;
    }

    #cart2 p {
        font-size: 1.2rem;
        font-weight: bold;
    }

    #cart2 button {
        width: 140px;
        padding: 10px;
        margin-top: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        background-color: green;
        cursor: pointer;
        color: white;
        position: relative;
        top: 50px;
    }

    .delivery {
        position: relative;
        bottom: 40px;
        background-color: #ddd;
        height: 42em;
        width: 70%;
        border-radius: 10px;
        padding: 20px;
        /* margin-left: 150px;/ */
        margin-top: 70px;
    }

    .delivery #location {
        width: 370px;
        padding: 10px;
    }

    .delivery h3 {
        font-size: 1.5rem;
        margin-bottom: 30px;
        text-align: center;
    }

    .delivery p {
        font-size: 1.1rem;
        margin-bottom: 30px;
    }

    .delivery button {
        width: 120px;
        padding: 10px;
        border-radius: 3px;
        outline: none;
        border: none;
        background-color: green;
        cursor: pointer;
        color: white;
    }
}